<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message board</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Message board</h1>
  <% if (user) { %>
    <% if (user.admin) { %>
      <p>Hello Admin <%= user.username %></p>
    <% } else { %>
      <p>Welcome <%= user.username %></p>
    <% } %>
    <a href="/logout">Log out</a>
    <a href="/new-message">Create a new message</a>
    <% if (!user.member) { %>
      <a href="/club">Join the club</a>
    <% } %>
    <% if (!user.admin) { %>
      <a href="/admin">Become an Admin</a>
    <% } %>
    <div class="messages">
      <% messages.forEach(function(message) { %>
        <div class="message">
          <h4><%= message.title %></h4>
          <p><%= message.text %></p>
          <% if (user.member) { %>
            <p><%= message.author %></p>
            <p><%= message.date %></p>
          <% } %>
          <% if (user.admin) { %>
            <a href="/delete-message">Delete</a>
          <% } %>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <a href="/sign-up">Sign up</a>
    <a href="/login">Log in</a>
  <% } %>
</body>
</html>