<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message board</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <section>
    <h1>Message board</h1>
    <% if (user) { %>
      <% if (user.admin) { %>
        <p class="welcome">Hello Admin <%= user.username %></p>
      <% } else { %>
        <p class="welcome">Welcome <%= user.username %></p>
      <% } %>
      <div class="links">
        <a href="/logout">Log out</a>
        <a href="/message/new">New message</a>
        <% if (!user.member) { %>
          <a href="/club">Join the club</a>
        <% } %>
        <% if (!user.admin) { %>
          <a href="/admin">Become an Admin</a>
        <% } %>
      </div>
    <% } else { %>
      <div class="links">
        <a href="/sign-up">Sign up</a>
        <a href="/login">Log in</a>
      </div>
    <% } %>
  </section>
  <section>
    <h3>Messages</h3>
    <div class="messages">
      <% messages.forEach(function(message) { %>
        <div class="message">
          <h4 class="title"><%= message.title %></h4>
          <p class="text"><%= message.text %></p>
          <% if (user && (user.member || user.admin)) { %>
            <p class="author"><%= message.author %></p>
            <p class="date"><%= message.date %></p>
          <% } %>
          <% if (user && user.admin) { %>
            <a class="delete" href="/message/<%= message.id %>/delete">Delete</a>
          <% } %>
        </div>
      <% }); %>
    </div>
  </section>
</body>
</html>